body {
    background-color: orange;
}
.textbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.burgers {
    display: flex;
    justify-content: center;
}


